# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Data - velké soubory, NEpatří do gitu
data/
processed.npz
*.h5

# Modely - PŘÍMO commitujeme best_model.pth a norm_stats.npz pro deployment!
# Ignorujeme jen pomocné/dočasné modely:
models/last_model.pth
models/training_log.txt
wandb/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets (kdyby byly)
.streamlit/secrets.toml
